<div class="page-heading" id="top">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="inner-content">
                  <h2>Check Our Products</h2>
                  <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
              </div>
          </div>
      </div>
  </div>
</div>
<%= link_to "Add New Product", new_vendors_product_path %>

<!-- ***** Header Area Start ***** -->
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <%= current_vendor.username %>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <% @products&.each do |product| %>
            <div class="col-lg-4">
              <%= link_to vendors_product_path(product) do %>
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <%= image_tag 'men-01' %>
                    </div>
                    <div class="down-content">
                        <h4><%= product.title %></h4>
                        <span><%= product.price %> <%= product.currency %></span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="col-lg-12">
            <div class="pagination">
              <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li class="active">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">></a>
                </li>
              </ul>
            </div>
          </div>
        </sdiv>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
