<div class="container mt-5">
  <h1>New product</h1>

  <%= form_for [:vendors, @product] do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% @product.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>
      <% @product.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :price %><br>
      <%= form.number_field :price %><br>
      <% @product.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :currency %><br>
      <%= form.select :currency, ['USD', 'GBP'] %>
      <% @product.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= form.label :category, style: "display: block" %>
      <%= form.text_field :categories, value: @product.categories.map(&:name).join(",") %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
